<div class="text-center">
  <h3 class="section-title section-title-36 no-pad block-color">{{ 'general.onboarding.no_title' | t }}</h3>
  <p class="section-title block-color">{{ 'general.onboarding.no_body' | t }}</p>
</div>