.search-results.page {
	margin-top: 30px;
}

.page-contact {
	border: 1px solid var(--color_border);
	display: flex;
	overflow: hidden;
}

@media screen and (max-width: 639px) {
	.page-contact {
		display: block;
	}
}

.page-contact .contact-form {
	flex-basis: 100%;
	flex-shrink: 1;
	padding: 32px 38px;
	transition: all 500ms var(--ease_out_cubic);
}

.page-contact .contact-form .input-field.error {
	border: 1px solid var(--color_error);
}

.page-contact-contactbar {
	position: relative;
	flex-basis: 0;
	flex-shrink: 0;
	transition: all 500ms var(--ease_out_cubic);
}

@media screen and (min-width: 640px) {
	.page-contact-contactbar.visible {
		border-left: 1px solid var(--color_border);
		flex-basis: 50%;
	}
}

.page-contact-contactbar.contactbar {
	display: block;
	max-height: 100%;
}

.page-contact-contactbar.contactbar:empty {
	display: none;
}

.page-contact-contactbar .contactbar-map {
	position: static;
	display: block;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 639px) {
	.page-contact-contactbar .contactbar-map {
		height: 500px;
	}
}

.page-contact-contactbar .contactbar-map-image {
	position: absolute;
	top: 0;
	left: 50%;
	width: auto;
	height: 100%;
	transform: translateX(-50%);
}

.page-contact-contactbar .contactbar-hasmap {
	width: 100%;
}

.page-contact-contactbar .contactbar-items {
	display: block;
	background: var(--color_background_modify_9);
}

.page-contact-contactbar .contactbar-items.contactbar-hasmap {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.page-contact-contactbar .contactbar-item,
  .page-contact-contactbar .contactbar-hasmap .contactbar-item {
	width: 50%;
	flex-basis: 50%;
}

@media screen and (max-width: 959px) {
	.page-contact-contactbar .contactbar-item,
      .page-contact-contactbar .contactbar-hasmap .contactbar-item {
		width: 100%;
		flex-basis: 100%;
	}
}

@media screen and (max-width: 639px) {
	.page-contact-contactbar .contactbar-item-value {
		margin-left: 35px;
	}
}

.article-image {
	max-width: 1280px;
	margin: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.article {
	background: var(--color_background);
	display: block;
	max-width: 730px;
	padding: 30px 20px;
	position: relative;
	margin: 0 auto;
	width: 100%;
	z-index: 2;
}

@media screen and (min-width: 960px) {
	.article {
		margin-top: -120px;
		max-width: 730px;
		padding: 65px 95px;
	}

	.article-wrapper-no-image .article {
		margin-top: 0;
	}
}

.article-publication-info {
	font-size: var(--body_font_size_11);
	text-align: center;
}

.article-publication-info.article-publication-info-bottompad {
	margin: 0 0 40px;
}

.article-date,
.article-author,
.article-tag,
.article-comment-count {
	display: inline-block;
	margin-bottom: 10px;
	color: var(--color_text);
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
}

.article-date a,
  .article-author a,
  .article-tag a,
  .article-comment-count a {
	color: inherit;
	text-decoration: none;
}

.article-publication-info-seperator {
	margin-right: 5px;
	margin-left: 5px;
}

.article-tag + .article-tag {
	margin-left: 3px;
}

.article-rte {
	margin-bottom: 85px;
}

.article-rte img {
	position: relative;
	display: block;
	height: auto;
	left: 50%;
	max-width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	transform: translate(-50%);
}

@media screen and (min-width: 768px) {
	.article-rte img {
		max-width: 768px;
	}
}

.section-blog {
	overflow: hidden;
}

.section-blog .blog-rss-feed {
	display: block;
	margin-bottom: 35px;
}

@media screen and (min-width: 960px) {
	.section-blog .blog-rss-feed {
		margin-bottom: 60px;
	}
}

.section-blog .blog-rss-feed a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}

.section-blog .blog-rss-feed svg {
	display: block;
	width: 11px;
	height: 11px;
}

.section-blog .article-excerpts {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

@media screen and (min-width: 640px) {
	.section-blog .article-excerpts {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
	}
}

@media screen and (min-width: 960px) {
	.section-blog .article-excerpts {
		grid-column-gap: 40px;
		grid-row-gap: 40px;
	}
}

.section-blog .article-excerpts .article-excerpt {
	grid-column-start: auto;
	grid-row-start: auto;
	margin: 0;
}

.comments-list,
.comments-submit {
	padding: 40px 0 0;
}

.comments-list {
	border-bottom: 1px solid var(--color_border);
}

.comments-list .pagination {
	text-align: center;
}

.comments-list-title {
	text-align: center;
}

.comments-list-title a {
	color: inherit;
	text-decoration: none;
}

.comment {
	margin: 50px 0;
}

.comment-author,
.comment-publication-info-separator,
.comment-date {
	display: inline-block;
	margin: 0;
	font-size: var(--body_font_size_14);
	color: var(--color_title_text);
}

.comment-publication-info-separator,
.comment-date {
	font-size: var(--body_font_size_12);
	text-decoration: none;
}

.comment-form-title {
	text-align: center;
}

.article-pagination {
	border-bottom: 1px solid var(--color_border);
	border-top: 1px solid var(--color_border);
	padding: 35px 0;
	position: relative;
	margin-top: 70px;
	text-align: center;
}

.article-pagination-blog {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
	.article-pagination-blog {
		display: inline-block;
	}
}

.article-pagination-blog,
.article-pagination-previous-post,
.article-pagination-next-post {
	font-size: var(--body_font_size_12);
	color: var(--color_accent);
	text-decoration: none;
	text-transform: uppercase;
}

.article-pagination-blog-text,
.article-pagination-previous-text,
.article-pagination-next-text {
	display: inline-block;
	vertical-align: middle;
}

.article-pagination-blog-text {
	font-weight: var(--body_font_weight_bold);
}

.article-pagination-previous-text {
	margin-left: 5px;
}

.article-pagination-next-text {
	margin-right: 5px;
}

.article-pagination-arrow {
	display: inline-block;
	width: auto;
	height: 13px;
	vertical-align: text-bottom;
}

.article-pagination-arrow svg {
	display: block;
	width: auto;
	height: 13px;
}

.article-pagination-previous-post {
	display: block;
}

@media screen and (min-width: 640px) {
	.article-pagination-previous-post {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
	}
}

.article-pagination-next-post {
	display: block;
}

@media screen and (min-width: 640px) {
	.article-pagination-next-post {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
	}
}

.list-collections {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-template-rows: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

@media screen and (min-width: 640px) {
	.list-collections {
		grid-column-gap: 40px;
		grid-row-gap: 30px;
	}
}

@media screen and (min-width: 640px) {
	.list-collections.list-collections-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.list-collections.list-collections-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	.list-collections.list-collections-5 {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}
}

.list-collections .collection-item {
	grid-column-start: auto;
	grid-row-start: auto;
	text-align: center;
}

.list-collections .collection-item:hover .underline,
    .list-collections .collection-item a:focus .underline {
	background-size: 100% 1px;
}

.list-collections .collection-item-description {
	line-height: 1.6;
}

.list-collections .collection-item-title {
	color: var(--color_title_text);
	display: inline-block;
	font-size: var(--body_font_size_14);
	letter-spacing: 0.2px;
	margin: 20px 0 0;
	text-align: center;
}

@media screen and (min-width: 640px) {
	.list-collections .collection-item-title {
		font-size: var(--body_font_size_18);
	}
}

.list-collections .collection-item-title a {
	color: inherit;
	text-decoration: none;
}

.section-password {
	display: table;
	width: 100%;
	height: 100vh;
	text-align: center;
}

.section-password .section-password-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.section-password .section-password-wrapper .masthead {
	margin-bottom: 40px;
}

.section-password .section-password-wrapper .newsletter,
    .section-password .section-password-wrapper .storefront-password-form {
	margin: 0 auto 25px;
	max-width: 350px;
}

.section-password .section-password-wrapper .section-password-newsletter,
    .section-password .section-password-wrapper .section-password-form {
	border-top: 1px solid var(--color_border);
	padding: 40px 20px 0;
}

.section-password .section-password-wrapper .section-password-newsletter .contact-form,
      .section-password .section-password-wrapper .section-password-newsletter .newsletter-form,
      .section-password .section-password-wrapper .section-password-form .contact-form,
      .section-password .section-password-wrapper .section-password-form .newsletter-form {
	display: flex;
	justify-content: center;
}

.section-password .section-password-wrapper .section-password-newsletter a,
      .section-password .section-password-wrapper .section-password-form a {
	display: inline-block;
}

.section-password .section-password-wrapper .section-password-newsletter a.underline,
        .section-password .section-password-wrapper .section-password-form a.underline {
	text-decoration: none;
}

.section-password .section-password-wrapper .section-password-newsletter .password-toggle,
      .section-password .section-password-wrapper .section-password-form .password-toggle {
	color: var(--color_text);
}

.section-password .section-password-wrapper .section-password-newsletter .password-toggle:hover,
        .section-password .section-password-wrapper .section-password-form .password-toggle:hover {
	color: var(--color_text_hover);
}

.js .page-template-template #ajaxBusy {
	background: var(--color_background_modify_75) !important;
	display: none;
}

.js .page-template-template #content {
	display: block;
	opacity: 1;
}